.error-page{
    p{
        color: #fff;
        font-size: 6em;
        font-weight: 700;
        text-align: right;
        align-items: flex-end;
        background-color: rgb(120, 230, 178);
        width: 500px;
        margin-left: 600px;
     }

}