//VARIABLES

$fuente-classy: Poppins, Montserrat;
$color-classy: #00C099;
$font-color: rgb(71, 71, 71);



html {
    font-size: 62.5%;
    /*equivale a 1em*/
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Poppins';
}

/*IMPORTS*/
@import '_backgrounds';
@import '_footer';
@import '_header';
@import '_responsive.scss';
@import '_funciones.scss';
@import '_precios.scss';
@import '_blog.scss';
@import '_page404.scss';
@import '_contacto.scss';

/*INICIO DE MAIN INDEX*/

.main__container--right {
    margin-top: 50px;
}

.main__icons {
    width     : 50px;
    margin-top: 120px;

}

.main__img--icons {
    padding-top: 45px;
}

.main__text--left {
    margin-top: 70px;
    color     : $font-color;
}

.main__title {
    font-size    : 2.8em;
    color        : $font-color;
    font-weight  : 700;
    margin-bottom: 30px;
}

.main__subtitle {
    font-size: 1.8em;
}

.main__bullets {
    font-size: 1.4em;
}

.main__img {
    width: 800px;
}

.main__container--second {
    margin-top: 50px;
}

.main__text--right {
    margin-top: 70px;
    text-align: right;
    color     : $font-color;
}
