@charset "UTF-8";
html {
  font-size: 62.5%;
  /*equivale a 1em*/
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
}

/*IMPORTS*/
/*INDEX*/
.background__index {
  background-image: url(../img/fondo-inicio.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -200px;
  background-position-y: -100px;
  background-size: 120%;
  height: 700px;
  position: relative;
  z-index: 0;
}

.background__index::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*FUNCIONES*/
.background__funciones {
  background-image: url(../img/Small-business-guy-at-workshop-v2.png);
  height: 700px;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: -83px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}

/*BLOG*/
.background__blog {
  background-image: url(../img/usos-bg.jpg);
  height: 700px;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: -83px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  z-index: 0;
}

/*PRECIOS*/
.background__precios {
  background-image: url(../img/sync-and-manage-your-online-inventory-FI.jpg);
  height: 700px;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}

/*CONTACTO*/
.background__contacto {
  background-image: url(../img/Evitar-las-roturas-de-stock.jpg);
  height: 600px;
  background-position-x: center;
  background-position-y: -350px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}

/*PAGE NOT FOUND*/
.background_page404 {
  background-image: url(../img/Fondo-page404.png);
  height: 600px;
  background-position-x: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}

/*INICIO FOOTER*/
.footer {
  background-color: #eeeeee;
}

.logo-footer {
  width: 100px;
  margin-left: 50px;
}

footer h5 {
  font-size: 1.8em;
  color: #474747;
}

.site-map a {
  text-decoration: none;
  font-size: 1.4em;
  color: #474747;
}

.footer__social {
  font-size: 3em;
}

.footer__social li {
  list-style: none;
}

.footer__social a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.footer__copy {
  color: gray;
  font-size: 1.2em;
  text-align: center;
}

.footer__social--facebook:hover {
  color: #1877f2;
}

.footer__social--instagram:hover {
  color: #E03098;
}

.footer__social--twitter:hover {
  color: #1DA1F2;
}

@media only screen and (max-width: 375px) {
  .footer__social li {
    display: inline;
    text-align: center;
  }
}

.header__img--logo {
  width: 150px;
  border-radius: 45px;
}

.header__img--logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav ul li {
  list-style: none;
  color: white;
  font-size: 1.6em;
  font-weight: 400;
  padding-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  text-shadow: 2px 2px 9px #fff;
  color: white;
}

.section__main {
  margin-top: 150px;
}

.section__main--title {
  font-size: 6em;
  font-weight: 700;
}

.section__main--subtitle {
  font-size: 3em;
  font-weight: 300;
}

.section__boton {
  background-color: #00C099;
  border-radius: 45px;
  border: 1px solid #00C099;
  font-weight: 600;
  width: 300px;
  height: 70px;
  text-align: center;
  font-size: 2em;
  padding: 10px 20px;
  margin: 30px 0 90px 0;
  outline: none;
  position: relative;
}

.section__boton--enlace {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 375px) {
  .background__index {
    background-size: 300%;
    background-position-x: -500px;
    background-position-y: 0px;
    height: 750px;
  }
  .background__index::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 750px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .background__funciones {
    background-size: 300%;
    background-position-x: -700px;
    background-position-y: 0px;
    height: 900px;
  }
  .header__img--logo {
    width: 100px;
  }
  .section__main {
    margin: 10px;
    padding-top: 150px;
  }
  .section__main--title {
    text-align: center;
    font-size: 4em;
    letter-spacing: 1.2px;
  }
  .section__main--subtitle {
    text-align: center;
    font-size: 2em;
    position: relative;
    margin-bottom: 0px;
  }
  .sction__boton {
    margin-left: 25px;
  }
  .main__img {
    max-width: 350px;
  }
  .main__icons {
    display: none !important;
  }
  .main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    margin-right: 20px;
  }
  .section__funciones--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* @media only screen and (max-width: 768px) {

    .background__index {
          background-position-x: center;
          background-position-y: 0px;
         height: 610px;
      }
  
      .background__index::before {
          content         : '';
          position        : absolute;
          background-color: rgba(0, 0, 0, 0.7);
         height: 610px;
          top             : 0;
          bottom          : 0;
          left            : 0;
          right           : 0;
      
      }
  
      header {
          font-size: 1.3em;
      }
      
      .flexMain h2{
          font-size: 2.5em;
      }
  
     .tryBtn {
         margin-top: 20px;
        
     }
  
     .imgRight {
      display              : grid;
      grid-template-columns: 1fr;
      grid-template-rows   : repeat(2, 1fr);
      max-height: 900px;
  }
  
  .imgLeft {
      display       : flex;
      flex-wrap     : wrap;    
      flex-direction: column-reverse;
      margin-right: 20px;
  
  }
  
  
  .iconIndex {
      display: none;
  }
  
  .iconLeft {
      display: none;
  }
  
    
  } */
/* @media only screen and (max-width: 1024px) {

  .background__index {
        background-position-x: center;
        background-position-y: -5px;
        height: 810px;
      
       
    }

    .background__index::before {
        content         : '';
        position        : absolute;
        background-color: rgba(0, 0, 0, 0.7);
        height          : 810px;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
    
    }

    header {
        font-size: 1.3em;
    }

   .flexMain {
       margin-top: 300px;
           
   }

   .tryBtn {
       margin-top: 50px;
       margin-bottom: 200px;
   }

   .imgRight {
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : repeat(2, 1fr);
    max-height: 900px;
}

.imgLeft {
    display       : flex;
    flex-wrap     : wrap;    
    flex-direction: column-reverse;
    margin-right: 20px;

}


.iconIndex {
    display: none;
}

.iconLeft {
    display: none;
}

  
}
 */
/* INICIO SECCION DE FUNCIONES*/
.section__funciones--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 26px;
  margin-left: 27px;
}

.section__funciones--flex .section__img--right {
  width: 85%;
  padding-left: 26px;
  margin-right: 68px;
  margin-top: 30px;
}

.section__funciones--flex .section__bullet--right {
  width: 55%;
  margin-right: 68px;
}

.section__funciones--flex .section__title--right {
  margin-top: 53px;
  color: #474747;
  font-size: 2.4em;
  font-weight: 800;
}

.section__funciones--flex .section__paragraph--right {
  font-size: 1.6em;
  text-align: left;
  color: #474747;
  font-weight: 500;
  padding-bottom: 10px;
}

.section__funciones--flex .section__list--right {
  text-align: left;
}

.section__funciones--flex li {
  text-align: left;
  font-size: 1.6em;
  font-weight: 600;
  color: #474747;
  padding-top: 3px;
  overflow: none;
  list-style-position: inside;
  list-style-type: disc;
  line-height: 22px;
}

.section__barra--azul {
  width: 15%;
  background-color: #0096bc;
  border: 1px solid #0096bc;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*INICIO ESTILOS IMAGENES A LA IZQUIERDA*/
.section__funciones--reverse {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section__funciones--reverse .section__img--left {
  width: 90%;
  margin-left: 68px;
}

.section__funciones--reverse .section__bullet--left {
  width: 55%;
  margin-left: 68px;
}

.section__funciones--reverse .section__title--left {
  margin-top: 53px;
  color: #474747;
  font-size: 2.4em;
  font-weight: 800;
}

.section__funciones--reverse .section__paragraph--left {
  font-size: 1.6em;
  text-align: left;
  color: #474747;
  font-weight: 500;
  padding-bottom: 10px;
}

.section__funciones--reverse .section__list--left {
  text-align: left;
}

.section__funciones--reverse li {
  text-align: left;
  font-size: 1.6em;
  font-weight: 600;
  color: #474747;
  padding-top: 3px;
  overflow: none;
  list-style-position: inside;
  list-style-type: disc;
  line-height: 22px;
}

/*Cuarta sección con imágen a la derecha*/
.section__img--export {
  max-width: 50vw;
  margin-right: 51px;
}

/*PRECIOS*/
.precios__title {
  margin-top: 50px;
  font-size: 4em;
  text-align: center;
  font-weight: 800;
}

.plan-avanzado {
  color: #00C099;
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.plan-ultra {
  color: #944392;
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.plan-empresarial {
  color: #138db2;
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.plan-free {
  display: inline;
}

.plan-free h5 {
  color: #e0d204;
  font-size: 3em;
  font-weight: 700;
}

.check-amarillo {
  width: 25px;
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px gray;
          box-shadow: 10px 10px 20px gray;
  margin: 50px 10px 50px 20px;
}

.card-text {
  font-size: 1.5em;
  color: #474747;
  font-weight: 400;
}

.price {
  font-size: 4em;
  font-weight: 700;
  color: #474747;
  margin-top: 30px;
  text-align: center;
}

.btn-avanzado {
  border-radius: 3px;
  border: 2px solid #00C099;
  background-color: #00C099;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 600;
  margin-left: 70px;
}

.btn-ultra {
  border-radius: 3px;
  border: 2px solid #944392;
  background-color: #944392;
  color: white;
  font-size: 20px;
  margin-top: 26px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 600;
  margin-left: 70px;
}

.btn-empresarial {
  border-radius: 3px;
  border: 2px solid #138DB2;
  background-color: #138DB2;
  color: white;
  font-size: 20px;
  margin-top: 17px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 600;
  margin-left: 100px;
}

.card-list {
  font-size: 1.5em;
  line-height: 30px;
  margin-top: 60px;
  margin-left: 10px;
}

.card-list li {
  list-style: none;
}

/*INICIO GALERIA DE BLOG*/
.gallery-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.gallery-block.cards-gallery .card img {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {
  .gallery-block .transform-on-hover:hover {
    -webkit-transform: translateY(-10px) scale(1.02);
            transform: translateY(-10px) scale(1.02);
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

.testimonies {
  display: -ms-grid;
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #fffefe;
  margin-top: 80px;
}

.testimonies h3 {
  font-size: 5em;
  font-weight: 700;
}

.testimonies h4 {
  margin-bottom: 30px;
  color: #666464;
  font-size: 2.5em;
}

.testimonies p {
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.testimonies__barra--verde {
  width: 10%;
  background-color: #00C099;
  border: 1px solid #00C099;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  background: #fff;
}

.slider .card .img {
  height: 200px;
  width: 100%;
}

.slider .card .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .card .content {
  padding: 10px 20px;
}

.card .content .title {
  font-size: 25px;
  font-weight: 600;
}

.card .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #00C099;
  line-height: 20px;
}

.card .content p {
  text-align: justify;
  margin: 10px 0;
}

.card .content .btn button {
  background: #00C099;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .content .btn button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.error-page p {
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #78e6b2;
  width: 500px;
  margin-left: 600px;
}

/*INICIO DE MAIN INDEX*/
.main__container--right {
  margin-top: 50px;
}

.main__icons {
  width: 50px;
  margin-top: 120px;
}

.main__img--icons {
  padding-top: 45px;
}

.main__text--left {
  margin-top: 70px;
  color: #474747;
}

.main__title {
  font-size: 2.8em;
  color: #474747;
  font-weight: 700;
  margin-bottom: 30px;
}

.main__subtitle {
  font-size: 1.8em;
}

.main__bullets {
  font-size: 1.4em;
}

.main__img {
  width: 800px;
}

.main__container--second {
  margin-top: 50px;
}

.main__text--right {
  margin-top: 70px;
  text-align: right;
  color: #474747;
}

/*BLOG*/
.sectionBlog {
  margin-top: 200px;
}

.sectionTitle {
  color: #474747;
  font-size: 5em;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;
  width: 90%;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.galeria {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.galeria li {
  list-style: none;
  margin: 10px;
}

.galeria img {
  width: 230px;
  height: 230px;
}

/*CONTACTO*/
.formContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 300;
  padding: 10px 10px;
  margin: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border-radius: 20px;
  width: 30%;
  font-size: 1em;
}

.contactoTitle {
  margin-left: 40%;
  margin-top: 3%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  text-align: center;
  font-size: 3em;
}

input[type="text"]:focus,
input[type="mail"]:focus,
textarea[name=Mensaje] {
  outline: none;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4em;
  border: none;
}

textarea {
  max-height: 100px;
}

.submit {
  color: white;
  margin-top: 10px;
  background-color: #00C099;
  border-radius: 45px;
  border: 1px solid #00C099;
  font-weight: 400;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 1.4em;
  padding: 2px 8px 2px 8px;
  outline: none;
  cursor: pointer;
}

.submit:hover {
  background-color: #00c09657;
  font-size: 1.3em;
}
/*# sourceMappingURL=main.css.map */